<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
<mat-grid-list cols="2"  rowHeight="2:1" *ngIf="isFirstPhotoAlbum">
    <mat-grid-tile>
      First Album Photos
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let item of data.firstAlbumPhotoList">
      <img src="{{item.thumbnailUrl}}">
        </mat-grid-tile>
  </mat-grid-list>


<mat-grid-list cols="2"  rowHeight="2:1" *ngIf="isSecondPhotoAlbum">
    <mat-grid-tile>
      Second Album Photos
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let item of data.secondAlbumPhotoList">
      <img src="{{item.thumbnailUrl}}">
        </mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>